#download {

  & .card {
    padding: 3rem 1.5rem 15rem;
    position: relative;
    overflow: hidden;
    
    & > img {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 20rem;
    }

    & div p span {
      display: flex;
      margin-block: .5rem;
      color: var(--brand-color-primary);
    }
  }

  .buttons {
    flex-wrap: wrap;
    margin-top: 2rem;

    & a {
      gap: 1rem;
      
      &:hover{
        & img {
          content: url(../assets/icons/whatsapp-hover.svg);
        }
      }
      & img {
        width: 2rem;

      }

      &:hover {
        color: var(--brand-color-primary--text-color-primary);
      }
    }
  }

  @media (width >= 80em){
    .card{
      padding: 9.75rem 5rem;

       & > img {
        left: none;
        transform: translateX(0);
        right: -5.5rem;
        width: 40rem;
      }

      & > div:nth-child(1){
        max-width: 40rem;
      }
    }
  }
}